.bodyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 10vh; */
}

.bouncingLoader {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.bouncingLoaderDiv {
  width: 5px;
  height: 5px;
  margin: 1px 2px;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  animation: bouncingLoader 0.6s infinite alternate;
  transform: translateY(5px);
}

@keyframes bouncingLoader {
  to {
    transform: translateY(-5px);
  }
}

.bouncingLoaderDiv2  {
  animation-delay: 0.2s;
  composes: bouncingLoaderDiv;
}

.bouncingLoaderDiv3 {
  animation-delay: 0.3s;
  composes: bouncingLoaderDiv;
}
